# Dependencies
node_modules/
npm-debug.log

# Build output
dist/
out/
*.vsix

# Editor settings
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# System files
.DS_Store
Thumbs.db

.vscode-test/ 